@model WebApplication1.Models.Lease

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lease</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" type="date"/>
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" type="date"/>
                <div class="form-group">
                    <label asp-for="LeaseeId" class="control-label">Leasee</label>
                    @Html.DropDownListFor(l => l.LeaseeId, (IEnumerable<SelectListItem>)ViewBag.LeaseeLookup, "Select...", new { @class = "form-control" })
                </div>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
